* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

.container {
    /* Pura page */
    height: 100vh;
    width: 100%;
    /* background-color:  #FBECEE; */
    font-family: 'Josefin Sans', sans-serif;
}

/* Navbar styling */
nav {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding-left: 11%;
    padding-right: 11%;
    height: 95px;
}

nav img {
    margin-right: 46px;
}

nav li {
    list-style-type: none;
    display: inline-block;
}

nav a {
    text-decoration: none;
    font-family: 'Kanit';
    color: #18191F;
    font-size: 20px;
    margin-right: 24px;
}

nav button {
    padding: 12px 16px;
    background: #EBEDEA;
    border: 1px solid #C7C8C6;
    border-radius: 15px;
    color: #6D9853;
    margin-left: 300px;
}

/* Calender section styling */
#calender {
    width: 100%;
    height: 405px;
    padding-left: 11%;
    display: flex;
}

#calender h4 {
    padding-top: 7%;
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 97px;
    color: #276B51;
}

#calender #clnder {
    width: 642px;
    height: 301px;
    margin-top: 44px;
    margin-left: 200px;
}

#calender span {
    background-image: url(/Images/Rectangle\ 185.png);
    background-repeat: no-repeat;
    background-size: 440px 33px;
    background-position: bottom;
}

/* Section1 styling */
#box {
    display: flex;
    justify-content: space-between;
    padding-left: 11%;
    padding-right: 11%;
    height: 400px;
    margin-top: 80px;
}

#dates {
    width: 251px;
    height: 207px;
    background: #6D9853;
    box-shadow: 0px 1px 4px rgba(14, 31, 53, 0.12), 0px 4px 8px rgba(14, 31, 53, 0.08);
    border-radius: 15px
}

#dates h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    text-align: center;
    /* margin-top: 14%; */
    color: #FFFFFF;
    margin-top: 18%;
    width: 251px;
}

#dates p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: white;
    margin-top: 16px;
}

#box img {
    border-radius: 10%;
}

#content {
    width: 415px;
}

#content h3 {
    margin-top: 12px;
    font-size: 24px;
}

#content p {
    margin-top: 20px;
    line-height: 19px;
}

/* section2 styling */
#section2 {
    padding: 130px 0px;
    width: 100%;
    height: 100px;
}

#s2p1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    margin-bottom:20px;
}

/* Events section styling */
#events {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#cards {
    /* width: 332px;*/
    height: 334px;
    flex-basis: 21.0%;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgb(14 31 53 / 12%), 0px 4px 8px rgb(14 31 53 / 8%);
    border-radius: 15px;
    margin: 35px 33px;
}

#up {
    position: absolute;
    width: 332px;
    height: 161px;
    background: #EEEEEE;
    box-shadow: 0px 1px 4px rgba(14, 31, 53, 0.12), 0px 4px 8px rgba(14, 31, 53, 0.08);
    border-radius: 15px 15px 0px 0px;
}

#middle {
    position: relative;
    width: 69px;
    height: 70px;
    left: 27px;
    top: 124px;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(14, 31, 53, 0.12), 0px 4px 8px rgba(14, 31, 53, 0.08);
    border-radius: 10px;
}

#middle h2 {
    padding: 17px 9px 0px 8px;
    font-family: 'Inter';
}

#middle p {
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 500;
}

#down h2 {
    position: relative;
    left: 27px;
    top: 142px;
    height: 24px;
}

#down p {
    position: relative;
    font-family: 'Kanit';
    font-style: normal;
    font-size: 12px;
    left: 27px;
    top: 142px;
    color: #9E9EA7;
    width: 202px;
    height: 63px;
    padding-top: 8px;
}

#heart {
    position: relative;
    background: #FFFFFF;
    top: 143px;
    left: 298px;
}

/* Footer styling */
footer {
    margin-top: 393px;
    width: 100%;
    height: 359px;
    background: #DBEFCF;
}

#footer {
    /* background-color: #e4bddb; */
    width: 84%;
    height: 260px;
    display: flex;
    margin-left: 120px;
    margin: auto;
    padding-top: 47px;
    justify-content: space-between;
}

#footer div h4 {
    margin-bottom: 28px;
}

#footer #col-1 {
    width: 178px;
}

#col-1 p {
    font-family: 'Inter';
    margin-top: 23px;
}

#col-2 a,
#col-3 a {
    font-family: 'Inter';
    font-style: normal;
    line-height: 19px;
    margin: 20px 0px;
}

#col-2 a,
#col-3 a {
    display: block;
    text-decoration: none;
    color: black;
}

#col-4 img {
    display: inline-block;
}

#col-4 p {
    display: inline-block;
    font-family: 'Inter';
    font-style: normal;
    line-height: 19px;
    margin-bottom: 20px;
}

#col-5 p {
    width: 236px;
    margin-bottom: 16px;
}

#col-5 input::placeholder {
    font-family: 'General Sans';
    font-size: 15px;
    position: absolute;
    height: 19px;
    left: 7.51%;
    right: 56.86%;
    top: 16px;
}

#col-5 input {
    height: 52px;
    width: 266.76776123046875px;
    display: flex;
    box-shadow: 0px 0px 25px rgba(30, 34, 40, 0.04);
    border-radius: 15px;
    border: none;
}

#col-5 input {
    display: inline-block;
}

#col-5 #join {
    height: 52px;
    width: 82px;
    background: #6D9853;
    border: 2px solid #6D9853;
    border-radius: 0px 15px 15px 0px;
    position: absolute;
    margin-left: -30px;
    cursor: pointer;
    font-family: 'General Sans';
    font-weight: 500;
    font-size: 17px;
    line-height: 29px;
    color: #FFFFFF;
}

footer hr {
    width: 1380px;
    height: 0px;
    border: 1px solid #8D8D8D;
    /* margin: auto; */
    margin-left: 8%;
}

#social-links {
    margin-left: 7.9%;
    margin-top: 17px;
}

#social-links img {
    margin-right: 16px;
    cursor: pointer;
}

#copyright {
    font-size: 11px;
    margin-left: 7.9%;
    margin-top: 25px;
}

/* Utility Classes */
.bg-Lighpink {
    background: #FBECEE;
}

.txtcenter {
    text-align: center;
}

.f-20 {
    font-size: 20px;
}