* {
    box-sizing: border-box;
}

.main-container {
    background-image: url('Images/bg.png');
    background-size: cover;
}

/* Desktop */
body {
    /* background-image: url('Images/bg.svg'); */
    background-size: cover;
    height: 100vh;
    width: 100%;
    font-family: 'Inter';
}

/* Navbar */
.nav-bg {
    height: 95px;
    background-color: #ffffff;
    /* width:100%; */
}

.navbar-brand {
    margin-right: 36px;
}

.logo {
    height: 67.66009521484375px;
    width: 160.74835205078125px;
}

.join-btn {
    font-family: 'Kanit';
    color: #6D9853;
    background: #EBEDEA;

    width: 187px;
    height: 54px;
    padding: 12px 15px;
    border: 1px solid #C7C8C6;
    border-radius: 15px;
    font-size: 20px;
    line-height: 30px;
    transition: 0.4s;
}

.join-btn:hover {
    color: #EBEDEA;
    background: #6D9853;
}

.ml-auto {
    margin-left: auto;
}

.navbar-nav a {
    font-family: 'Kanit';
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    margin-right: 24px;
    color: #18191F;
}

/* Nav end  */
/* Section */
.content h1 {
    width: 532px;
    height: 210px;
    margin: 132px 0px 38px;
    font-weight: 700;
    font-size: 45px;
    line-height: 155.52%;
    letter-spacing: 2px;
    color: #6D9853;
}

.content p {
    width: 515px;
    height: 78px;
    margin-bottom: 56px;
    font-weight: 400;
    font-size: 21px;
    line-height: 187%;
    letter-spacing: 2px;
    color: #000000;
}

.content button {
    width: 315px;
    height: 64px;
    background: #9C7092;
    box-shadow: 0px 0px 6px #AFAFAF;
    border-radius: 47.1429px;
    color: #ffffff;
    border: none;
    transition: 0.4s;
    font-weight: 600;
    font-size: 25.1429px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}

.content button:hover {
    background: #FFFFFF;
    border: 2px solid #9C7092;
    color: #9C7092
}

.icons {
    display: none;
    order: 2;
}

.icons a {
    text-decoration: none;
}


/* Images */
#images {
    position: relative;
}

#ils {

    margin-top: 56px;
    margin-left: 153px;
}

/* Modal1 Desktop */
.modal-content {
    width: 617px;
    height: 648px;
    background: #FFFFFF;
    box-shadow: 0px 0px 22.5182px #565656;
    border-radius: 18.0146px;
}

.modal-header {
    border-bottom: none;
}

.modal-body p {
    width: 538.19px;
    height: 68px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 22.5182px;
    line-height: 34px;
    text-align: center;
    color: #000000;
    margin-top: 3%;
}

.modal-body label {
    font-size: 22.5182px;
    line-height: 34px;
    color: #000000;
}

#Device {
    margin-top: 47px;
    margin-bottom: 18px;
}

.modal-body input {
    border: none;
    border-bottom: 1px solid #090456;
    box-shadow: 0px 1px 0px 0px #7f79de;
    width: 506.66px;
    margin-top: 11px;
}

.modal-body #div1 {
    width: 506.92px;
    height: 250px;
    margin: 55.85px auto 58.31px;
}

::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 18.0146px;
    line-height: 27px;
    color: #A6A6A6;
}

#submit {
    width: 506.66px;
    height: 67.55px;
    background: #9C7092;
    border-radius: 11.2591px;
    text-align: center;
    border: none;
    color: #FFFFFF;
    font-size: 27.0219px;
    margin: 0px 64px 33px 38px;
    font-weight: 600;
    line-height: 32px;
}

.radio-button {
    cursor: pointer;
    padding-right: 25px;
    display: block;
    margin-bottom: 10px;
}

input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

input[type=radio] {
    font-size: 1rem;
    line-height: 1.5;
    padding: 11px 23px;
    border: 1px solid #090456;
    border-radius: 0;
    outline: 0;
    background-color: transparent;
}

.radio-button__input {
    opacity: 0;
    position: absolute;
}

.radio-button__control {
    position: relative;
    display: inline-block;
    width: 27.44px;
    height: 27.44px;
    margin-right: 6px;
    vertical-align: middle;
    background-color: inherit;
    color: #090456;
    border: 2px solid #090456;
    border-radius: 24px;
}

.radio-button__input:checked+.radio-button__control:after {
    content: "";
    display: block;
    position: absolute;
    top: 3.5px;
    left: 3.5px;
    width: 15.5px;
    height: 15.5px;
    background-color: #090456;
    border-radius: 12px;
}

.radio-button__input:checked+.radio-button__control {
    border-color: #090456;
}

.radio-button__label {
    color: #090456;
}

.radio-button__control {
    transform: scale(0.75);
}

/* Success msg modal */
#Succes-Msg-modal .modal-content {
    width: 720px;
    height: 522.32px;
}

#Succes-Msg-modal .modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Succes-Msg-modal h1 {
    width: 505.01px;
    height: 74px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 44.4409px;
    line-height: 166%;
    text-align: center;
    letter-spacing: -1.38517px;
    color: #000000;
    margin-top: 12px;
}

#Succes-Msg-modal p {
    width: 529.54px;
    height: 32px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 21.6433px;
    line-height: 32px;
    text-align: center;
    color: #4A4A4A;
    margin-top: 6px;
}

#Succes-Msg-modal hr {
    border: 1.44289px solid #ca1414;
}

#hr {
    margin: 41px 0px 27px 0px;
}

#Succes-Msg-modal button {
    padding: 11.5431px 90.9018px;
    width: 276.8px;
    height: 69.09px;
    background: #71BE34;
    border-radius: 51.9439px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 38.0922px;
    line-height: 46px;
    text-align: center;
    border: none;
    color: #FFFFFF;
    margin-bottom: 33px;
}

/* For mobiles */
@media screen and (max-width: 480px) {
    .navbar {
        justify-content: end;
        gap: 13%;
    }

    .nav-bg {
        height: 64px;
    }

    .navbar-toggler {
        padding: 2px 8px;
    }

    .logo {
        height: 39.041172px;
        width: 91.251328px;
    }

    .join-btn {
        margin-top: 12px;
    }

    /* Section */
    #sectn {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content {
        justify-content: center;
        align-items: center;
    }

    .content h1 {
        width: 333px;
        height: 56px;
        font-style: normal;
        font-weight: 600;
        font-size: 23px;
        line-height: 28px;
        text-align: center;
        margin: 0px;
    }

    .content p {
        width: 360px;
        height: 32px;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        text-align: center;
        margin: 35px 0px;
    }

    .content button {
        width: 197px;
        height: 35px;
        border-radius: 30px;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 24px;
    }

    #images {
        order: -1;
        display: flex;
        justify-content: center;
    }

    .content {
        order: 1;
    }

    .icons {
        display: block;
        order: 2;
        height: 95px;
    }

    .icons img {
        padding-left: 6px;
        padding-right: 6px;

    }

    #ils {
        width: 85%;
        margin: 32px 0px 32px;
    }

    /* Modal 1 mobiles  */
    .modal.show .modal-dialog {
        margin-left: 20%;
    }

    .modal-content {
        width: 274px;
        height: 341px;
    }

    .modal-body #div1 {
        width: 200px;
        height: 161.34px;
        margin: 0px;
    }

    .modal-body p {
        width: 236.19px;
        height: 25px;
        font-weight: 400;
        font-size: 10px;
        line-height: 15px;
        margin-top: 0%;
    }

    .modal-body label {
        font-size: 10px;
        line-height: 15px;
    }

    #Device {
        margin-top: 21px;
        margin-bottom: 12px;
    }

    .modal-body input {
        width: 225px;
    }

    ::placeholder {
        font-size: 8px;
        line-height: 10px;
    }

    #submit {
        width: 203px;
        margin-left: 14px;
        height: 30px;
        border-radius: 5px;
        font-size: 12px;
        margin-top: 20px;
        /* margin-bottom: 33px; */
        font-weight: 600;
        line-height: 32px;
    }

    .radio-button__control {
        width: 20px;
        height: 20px;
        margin-right: 6px;
    }

    .radio-button__input:checked+.radio-button__control:after {
        top: 2px;
        left: 2px;
        width: 12px;
        height: 12px;
        border-radius: 12px;
    }

    /* Success msg modal mobiles */
    #Succes-Msg-modal .modal-content {
        width: 322.56px;
        height: 234px;
    }

    #Succes-Msg-modal .modal-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #Succes-Msg-modal .modal-body {
        height: 75.98468780517578px;
        /* width: 181.42515563964844px; */
    }

    #Succes-Msg-modal .modal-body #tck {
        width: 143.55px;
        height: 94.07px;
    }

    #Succes-Msg-modal h1 {
        width: 226.24px;
        height: 33px;
        font-size: 19.9094px;
        letter-spacing: -0.620552px;
        margin-top: 10px;
    }

    #Succes-Msg-modal p {
        width: 237.23px;
        height: 12px;
        font-size: 9.69613px;
    }

    #hr {
        margin: 12px 0px 18px 0px;
        width: 269px;
    }

    #Succes-Msg-modal button {
        padding: 5.17127px 40.7238px;
        width: 124.45px;
        height: 31.34px;
        border-radius: 23.2707px;
        font-size: 15.2552px;
        line-height: 20px;
        margin-bottom: 14.55px;    }

}

/* For Tablets */
@media screen and (min-width: 480px)and (max-width: 768px) {
    .container {
        padding-left: 0px;
        padding-right: 0px;
    }

    .nav-bg {
        /* background-color: rgb(235, 208, 30); */
        height: 62px;
    }

    .navbar-toggler {
        padding: 2px 8px;
    }

    .logo {
        height: 39.041172px;
        width: 87.251328px;
    }

    .join-btn {
        margin-top: 12px;
    }

    /* Section */
    #sectn {
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */
    }

    .content {
        justify-content: center;
        align-items: center;
    }

    .content h1 {
        width: auto;
        height: 117px;
        font-weight: 700;
        font-size: 39px;

        text-align: center;
        line-height: 155.52%;
        letter-spacing: 2px;
        margin-top: 78px;
        margin-bottom: 45px;
    }

    .content p {
        width: 493px;
        height: 78px;
        font-weight: 400;
        font-size: 21px;
        line-height: 187%;
        letter-spacing: 2px;
        text-align: center;
        margin-bottom: 47px;
    }

    .content button {
        width: 315px;
        height: 64px;
        border-radius: 47.1429px;
        margin-bottom: 37px;
    }

    .icons {
        display: block;
        width: 100%;
        height: 23.98px;
        margin-bottom: 30px;
        margin-top: 20px;
        text-align: center;
    }


    .icons a img {
        padding-left: 21px;
    }

    /* Images */
    #ils {
        margin: 0px;
        width: 85%;

    }

    /* Modal 1 tablet */
    .modal-content {
        width: 462px;
        height: 533px;
    }

    .modal-body #div1 {
        width: 480px;
        height: 236.34px;
        margin: 0px auto 26px;
    }

    .modal-body p {
        width: 431.87px;
        height: 52px;
        font-weight: 400;
        font-size: 17.7518px;
        line-height: 26px;
        margin: 20px auto 40px;
    }

    .modal-body label {
        font-size: 19.7518px;
        line-height: 26px;
    }

    #Device {
        margin-top: 45px;
        margin-bottom: 21.85px;
    }

    .modal-body input {
        width: 426.42px;
    }

    ::placeholder {
        font-size: 17.4015px;
        line-height: 21px;
    }

    #submit {
        width: 352.42px;
        height: 57.26px;
        border-radius: 10.8759px;
        font-size: 23.1022px;
        margin: 0px 56px 33px 38px;
        font-weight: 600;
        line-height: 32px;
    }

    .radio-button__control {
        width: 27.44px;
        height: 27.44px;
        margin-right: 6px;
        border: 2px solid #090456;
        border-radius: 24px;
    }

    .radio-button__input:checked+.radio-button__control:after {
        top: 3.5px;
        left: 3.5px;
        width: 15.5px;
        height: 15.5px;
        border-radius: 12px;
    }

    /* Success msg modal */
    #Succes-Msg-modal .modal-content {
        width: 628.57px;
        height: 456px;
        background: #FFFFFF;
        border-radius: 36.5304px;
    }

    #Succes-Msg-modal .modal-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #Succes-Msg-modal .modal-body #tck {
        width: 353.55px;
        height: 148.07px;
    }

    #Succes-Msg-modal h1 {
        width: 440.88px;
        height: 64px;
        font-weight: 500;
        font-size: 38.7978px;
        line-height: 166%;
        letter-spacing: -1.20928px;
        margin-top: 12px;
    }

    #Succes-Msg-modal p {
        width: 462.3px;
        height: 0px;
        font-weight: 400;
        font-size: 18.895px;
        line-height: 23px;
        margin-top: 6px;
    }

    #hr {
        margin: 36px 0px 23px 0px;
        width: 520px;
    }

    #Succes-Msg-modal button {
        padding: 10.0773px 79.3591px;
        width: 241.72px;
        height: 60.15px;
        border-radius: 45.3481px;
        font-weight: 600;
        font-size: 33.2552px;
        line-height: 40px;
        color: #FFFFFF;
        margin-bottom: 33px;
    }
}